.first-result-container {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.first-result-text {
  width: 60%;
  height: 20%;
  align-self: center;
  text-align: center;
  font-family: Fira Sans;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.first-result-text1 {
  width: 100%;
  height: 60%;
  align-self: center;
  text-align: center;
  font-family: Fira Sans;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.first-result-root-class-name {
  width: 75%;
  height: 25%;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 1600px) {
  .first-result-text {
    font-size: 3vh;
  }
  .first-result-text1 {
    font-size: 8vh;
  }
}
@media(max-width: 991px) {
  .first-result-text {
    font-size: 2vw;
  }
  .first-result-text1 {
    font-size: 6vw;
  }
}
@media(max-width: 767px) {
  .first-result-text {
    font-size: 1.5vh;
  }
  .first-result-text1 {
    font-size: 5vh;
  }
}
@media(max-width: 479px) {
  .first-result-text {
    width: 70%;
    font-size: 4vw;
  }
  .first-result-text1 {
    font-size: 8vw;
  }
}
