.btn{
  border:2px solid black;
  background-color: #aa00ff;
  color: white;
  padding: var(--dl-space-space-unit);
}
.btn:hover, .btn:focus{
  border:2px solid gray;
  background-color: white;
  color: #aa00ff
}
#locButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: var(--dl-space-space-halfunit);
  border-color: gray;
}
body {
  font-family: Fira Sans;
}
.loadingOverlay {
  border: 10px solid #aa00ff;
  border-radius: 10%;
}