.type-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.type-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.type-text {
  width: 80%;
  font-size: 2vw;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.type-text1 {
  width: 70%;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.type-select {
  width: 80%;
  align-self: center;
}
.type-text2 {
  width: 80%;
  padding: 0px;
  font-size: 2vw;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.type-text3 {
  width: 70%;
  align-self: center;
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.type-select1 {
  align-self: center;
}
.type-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.type-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-unit);
  background-color: #aa00ff;
}
.type-button1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Fira Sans;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: #aa00ff;
}
@media(max-width: 991px) {
  .type-container1 {
    margin: var(--dl-space-space-halfunit);
  }
  .type-text {
    margin-top: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-halfunit);
  }
  .type-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-text2 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .type-text3 {
    padding: var(--dl-space-space-halfunit);
  }
  .type-container2 {
    margin: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-halfunit);
  }
  .type-button1 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 767px) {
  .type-container1 {
    margin: var(--dl-space-space-halfunit);
  }
  .type-text {
    font-size: 4vw;
    margin-top: var(--dl-space-space-halfunit);
  }
  .type-text1 {
    padding: var(--dl-space-space-halfunit);
    font-size: 2vw;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-text2 {
    font-size: 4vw;
  }
  .type-text3 {
    padding: var(--dl-space-space-halfunit);
    font-size: 2vw;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-container2 {
    margin: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-halfunit);
  }
  .type-button1 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .type-container1 {
    margin: var(--dl-space-space-unit);
  }
  .type-text {
    font-size: 5vw;
  }
  .type-text1 {
    font-size: 3vw;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-text2 {
    font-size: 5vw;
  }
  .type-text3 {
    font-size: 3vw;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-container2 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .type-button1 {
    color: var(--dl-color-gray-white);
  }
}
